<div class="container">
  <div class="alert alert-danger" ng-show="error!=undefined">
    <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
    </button>
    {{error}}
  </div>
  <div class="alert alert-info alert-dismissible" ng-show="info!=undefined">{{info}}</div>
  <div class="page-header">
    <!--     <div class="pull-right">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">...</button>
      </div>
    </div> -->
    <h4>Console <small>{{account.name}}</small></h4>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-click="run()">Run</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Save <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">Dashboard</li>
              <li ng-repeat="doclet in doclets | dashboardFilter">
                <a ng-click="saveTo(doclet)">{{doclet.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <h5>Input</h5>
      </div>
      <textarea class="form-control myTextArea" rows="3" ng-model="in.commands" placeholder="Type commands to execute here"></textarea>
      <textarea class="form-control myTextArea" rows="3" ng-model="in.text" placeholder="optional text input here"></textarea>
    </div>
  </div>
  <!-- Default panel contents -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Text</button>
            <button type="button" class="btn btn-default">Table</button>
          </div>
        </div>
        <h5>Result</h5>
      </div>
      <textarea class="form-control myTextArea" rows="10">{{out.result}}</textarea>
    </div>
  </div>
</div>
